.Input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--hover-color);
  border-radius: 2rem;
  padding: 0 2rem;
  outline: none;
  font-size: 1.25rem;
  color: var(--fg-color);
  transition: 0.25s;
  font-weight: bold;

  &::placeholder {
    color: var(--fg-btn-color);
  }

  &:focus {
    font-size: 1.5rem;
  }
}
