.main_Container {
  display: flex;
  max-width: 100dvw;
  min-height: 75dvh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid var(--bg-btn-color);
  margin: 2rem 0;
  border-radius: 2rem;

  & p {
    margin-bottom: 2rem;
    font-weight: 700;
    text-decoration: underline;
  }

  & input {
    margin: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
  }

  & small {
    margin-top: 6rem;
    font-size: 0.8rem;
  }

  & button {
    margin: 0.5rem 0;
  }
}
